.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: black;
}

html, body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}

.App .col {
  background-color: hwb(214 7% 86%);
  color: white;
}

.App .nav-bar {
  padding-top: 0;
}

.custom-navbar {
  background-color: hwb(213 7% 85%);
  padding: 5px;
}


.nav-link {
  color: rgb(229, 229, 235);
}

.navbar .navbar-brand{
  color: rgb(229, 229, 235);
}

.navbar :hover {
  color: rgb(128, 171, 209);
}

.navbar-nav .nav-link.active{
  color: rgba(128, 171, 209, 0.757);
}


.colGlobal .col{
  border-radius: 5px;
  margin-left: 5px;
}

.centerInpo .col{
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.customTable {
  width: 100%;
  margin-top: 1%;
  border-collapse: collapse;
}

.customTable tr {
  border-bottom: 2px solid rgba(218, 213, 213, 0.211)
}

.customTable th {
  color: #d1ccccf5;
  background-color: hwb(214 7% 86%);
  border: none;
  padding: 5px;
  padding-bottom: 2%;
}

.customTable td {
  color: #d1ccccf5;
  border: none;
  padding: 5px;
}

.customTable tr:nth-child(odd) {
  background-color: hwb(214 10% 88%) /* 홀수 행 배경색 */
}

.customTable tr:nth-child(even) {
  background-color: hwb(213 7% 85%) /* 짝수 행 배경색, 약간 밝게 조정 */
}

.sideInpo .col{
  border-radius: 5px;
}
.container {
  padding-top: 1%;
}
.Navbar {
  font-family: "Noto Sans KR", sans-serif;
}
.centerContainer {
  padding: 0;
}
.sideContainer {
  padding-left: 0px;
}
.sideContainer .container {
  padding-right: 3%;
  padding-top: 3%;
  margin-left: 5px;
  margin-right: 5px;
}

.fixedContainer {
  position: sticky;
  top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1000; /* 다른 요소들 위에 오도록 설정 */
}
.sideBanner {
  padding-top: 3%;
}

.footBanner {
  padding-top: 1%;
}
.footBanner .col {
  height: 280px;
}

.chatbox {
  position: sticky;
  top: 0;
  width: 99%;
  height: 690px;
  background: black;
  color: white;
  z-index: 1000; /* 다른 요소들 위에 오도록 설정 */
}

.center4Inpo .col{
  height: 80px;
}

.banner .col{
  height: 250px;
}

.centerInpo .col {
  height: 100vh;
}

.logos {
  display: flex;
}
.logoLeft {
  float: left;
  width: 30%;
  align-items: center;
}

.logoRight {
  float: right;
  width: 70%;
}

.kimchies{
  display: flex;
}
.kimchiLeft {
  float: left;
  width: 50%;
}
.kimchiRight {
  float: right;
  width: 50%;
}

table {
  text-align: right;
  
}

.blue-text {
  color: rgba(165, 165, 255, 0.901) !important; /* !important를 사용하여 우선 순위를 높이는 경우가 있을 수 있습니다. */
}

.red-text {
  color: rgb(255, 0, 0) !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
